<%= form_for(comment) do |f| %>
  <%= f.hidden_field :post_id %>

  <div class="form-group">
    <%= f.text_area :body %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit Comment', class: 'btn btn-primary' %>
  </div>
<% end %>
