<div class="row">
  <div class="col-sm-12">
    <%= content_tag :div, class: 'comment', id: "comment#{comment.id}" do %>
      <div class="title">
        <strong>by <%= comment.user.name %></strong>
      </div>
      <div class="date">
        <small><%= comment.created_at.strftime('%D %r') %></small>
      </div>
      <div class="body">
        <%= comment.body %>
      </div>
    <% end %>
  </div>
</div>
